@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sample APP</h1>
    <p>Sample APP for deployment to Azure App Service- using Github CI/CD</p>
</div>
